@model PhotoPortfolio.Models.Album

@{
    ViewData["Title"] = "Album Details";
}

<div class="album-detail py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Title</h1>

                @if (User.IsInRole("Admin"))
                {
                    <p>
                        <a href="@Url.Action("Edit", new { id = Model.AlbumID })" class="btn btn-warning">Edit Album</a>
                    </p>
                }

                <h3>Photos</h3>

                @if (User.IsInRole("Admin"))
                {
                    <p>
                        <a href="@Url.Action("Create", "Photos", new { albumId = Model.AlbumID })" class="btn btn-primary">Add Photo</a>
                    </p>
                }

                <div class="row">
                    @foreach (var photo in Model.Photos)
                    {
                        <div class="col-md-12 mb-3">
                            <img class="img-fluid" src="@photo.FilePath" alt="Photo" style="cursor: pointer;">
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Delete", "Photos", new { id = photo.PhotoID })" class="btn btn-danger mt-2">Delete Photo</a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
