@model PhotoPortfolio.Models.Album

@{
    ViewData["Title"] = "Album Details";
}

<div class="album-detail py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Title</h1>
                <p>@Model.Description</p>

                @if (User.IsInRole("Admin"))
                {
                    <form asp-action="UpdateThumbnail" enctype="multipart/form-data" class="mb-4">
                        <div class="form-group">
                            <label for="Thumbnail" class="control-label">Update Thumbnail</label>
                            <input type="file" name="Thumbnail" class="form-control" />
                        </div>
                        <input type="hidden" name="albumId" value="@Model.AlbumID" />
                        <div class="form-group">
                            <input type="submit" value="Upload" class="btn btn-primary" />
                        </div>
                    </form>
                }

                <h3>Photos</h3>

                @if (User.IsInRole("Admin"))
                {
                    <p>
                        <a href="@Url.Action("Create", "Photos", new { albumId = Model.AlbumID })" class="btn btn-primary">Add Photo</a>
                    </p>
                }

                <div class="row">
                    @foreach (var photo in Model.Photos)
                    {
                        <div class="col-md-12 mb-3">
                            <img class="img-fluid" src="@photo.FilePath" alt="Photo">
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Delete", "Photos", new { id = photo.PhotoID })" class="btn btn-danger mt-2">Delete Photo</a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
